* {
  margin: 0;
  padding: 0;
}

.categories_container_card {
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  grid-template-rows: 0.8fr 0.8fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.hor {
  grid-area: 1 / 1 / 2 / 2;
}

.hor2 {
  grid-area: 2 / 1 / 3 / 2;
}

.ver1 {
  grid-area: 1 / 2 / 3 / 3;
}

.ver2 {
  grid-area: 1 / 3 / 3 / 4;
}

.brands_icon img {
  width: 204px;
  height: 45px;
}
