.Categories_box_txt h2 {
  width: 350px;
}
.categories_container_card {
  width: 100%;
  display: flex;
}

.card_categories {
  transition: all 0.8s;
  margin: 20px 0;
}

.card_categories:hover {
  cursor: pointer;
  transform: scale(1.1);
  animation-duration: 1ms;
  transition-duration: 0.8s;
}

/*Mobile CSS*/

@media screen and (max-width: 1000px) {
  .categories_container_card {
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 440px) {


  .img_cate {
    text-align: center;
    margin: 0 0 0 35px;
    width: 300px !important;
    height: 120px !important;
  }
}
