#nav_bar {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 13px 20px -17px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 13px 20px -17px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 13px 20px -17px rgba(0, 0, 0, 0.26);
}

.logo img {
  width: 160px;
}

.btn_login {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  margin: 0 5px 0 0;
  border: none;
}
.bg-light {
  background-color: var(--quaternary-color) !important;
}

.btn_login:hover,
.btn_color:hover {
  background-color: var(--secondary-color);
}

.nav_links {
  color: var(--tertiary-color);
  transition: all 0.8s;
  border-bottom: 1px solid var(--quaternary-color);
  margin: 0 10px 0 10px;
  font-size: 18px;
}

.nav_links:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  animation-duration: 0.8s;
  transition-duration: 0.8s;
}

/* Mobile CSS*/

@media screen and (max-width: 1000px) {
  #nav_bar{
    height: 80px;
  }
  #nav_bar > .logo{
    display: block;
    margin: auto;
  }

  .nav_links_box  {
    display: block;
    position: absolute !important;
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    text-align: center;
    left: 0;
    top: 70px;
    transition: all 0.5 ease-out;
  }
.nav_links_box > .nav_links{
  color: var(--quaternary-color);
  margin: 10px 0;
}

   .login_menu{
    width: 100%;
    display: flex;
    margin: 0 5px ;
  }
.login_menu > .menu{
  display: block;
  margin: auto;
  width: 45px;
  height: 30px;
  color: var(--primary-color);
}


}
